.barContainer{
    width: 75ch;
}

.bar{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.button{
    border-radius: 10px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 25px;
    height: auto;
}

.buttonChange{
    margin: 0 auto;
}
