.barContainer{
    width: 75ch;
}

.bar{
    width: 100%;
    height: auto;
}

.datasetContainer{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.inputDataset{
    padding: 0.625rem; 
    border-radius: 0.5rem; 
    border-width: 1px; 
    border-color: #D1D5DB; 
    width: 100%; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #111827; 
    background-color: #F9FAFB; 
} 

.button{
    border-radius: 10px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 25px;
    height: auto;
}